.menu {
  height: 40px;
  &__items {
    display: flex;
    align-items: center;
    padding-right: 13px;
  }

  &__item {
    display: flex;
    align-items: center;
    & ~ & {
      margin-left: 29px;
    }
    &--login {
      display: block;
      align-items: center;
      padding-left: 12px;
      
    }
    &-login-svg {
      position: relative;
      top: -1px;
      width: 16px;
      height: 16px;
      margin-right: 11px;
      fill: transparent;
    }
    &--cart {
      align-items: center;
      padding-left: 12px;
      display: none;
      
    }
  }
  
  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    height: 40px;
    
  }
}
