html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $bgColor;
  font-family: $fontFamilyMain;
  color: #000;
}
body.active {
  overflow: hidden;
}
img {
  max-width: 100%;
  display: block;
}
svg {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: navajowhite;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1360px;
}

.btn {
  color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 6px 28px;
  cursor: pointer;
}

.btn-transparent {
  border: 1px solid #8C0014;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  &:hover {
    background: #8C0014;
  }
}

.catalog__btn {
  background-color: #8C0014;
  cursor: pointer;
  height: 55px;
  width: 247px;
  border-radius: 4px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  &:before {
    content: url('../img/svg/catalog.svg');
    position: relative;
    left: -24px;
    top: 2px;
  }
}

